$mobile-max-width: 600px;
$small-mobile-max-width: 360px;
$container-padding: 10px;
$small-container-padding: 5px;
$extra-small-container-padding: 5px;
$base-font-size:18px;
$primary-color:#000000;
$secondary-color:#D9D9D9;
$accent-color:#9C9C9C;
$bg-color:#ffffff;
$offcanvas-vertical-height:50vh;
